## (Ordinal) Label Encoding

In [3]:
import pandas as pd
import datetime

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2020-08-19 02:24:49.889015
1  2020-08-18 02:24:49.889015
2  2020-08-17 02:24:49.889015
3  2020-08-16 02:24:49.889015
4  2020-08-15 02:24:49.889015
5  2020-08-14 02:24:49.889015
6  2020-08-13 02:24:49.889015
7  2020-08-12 02:24:49.889015
8  2020-08-11 02:24:49.889015
9  2020-08-10 02:24:49.889015
10 2020-08-09 02:24:49.889015
11 2020-08-08 02:24:49.889015
12 2020-08-07 02:24:49.889015
13 2020-08-06 02:24:49.889015
14 2020-08-05 02:24:49.889015
15 2020-08-04 02:24:49.889015
16 2020-08-03 02:24:49.889015
17 2020-08-02 02:24:49.889015
18 2020-08-01 02:24:49.889015
19 2020-07-31 02:24:49.889015

In [4]:
# extract the week day name
df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2020-08-19 02:24:49.889015   Wednesday
1 2020-08-18 02:24:49.889015     Tuesday
2 2020-08-17 02:24:49.889015      Monday
3 2020-08-16 02:24:49.889015      Sunday
4 2020-08-15 02:24:49.889015    Saturday

In [5]:
# Engineer categorical variable by ordinal number replacement
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(7)

                         day day_of_week  day_ordinal
0 2020-08-19 02:24:49.889015   Wednesday            3
1 2020-08-18 02:24:49.889015     Tuesday            2
2 2020-08-17 02:24:49.889015      Monday            1
3 2020-08-16 02:24:49.889015      Sunday            7
4 2020-08-15 02:24:49.889015    Saturday            6
5 2020-08-14 02:24:49.889015      Friday            5
6 2020-08-13 02:24:49.889015    Thursday            4

### Ordinal Measurement Advantages

Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.

- Keeps the semantical information of the variable (human readable content)
- Straightforward

### Ordinal Measurement Disadvantages
The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.

- Does not add machine learning valuable information